@font-face {
   font-family: 'CloisterBlack';
   font-display: swap;
   src: url('file:///C:/Users/shotg/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-30_153248/fonts/CloisterBlack/font.ttf');
}
